{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.bug_view'|trans({'%id%': bugId, '%name%' : bug.name}) }}
{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="column is-8 is-offset-2 single-bug">

        <div class="tile is-ancestor">
        {% if bug|length %}
            <div class="tile is-parent is-3 ">
            {% if bug.status_id == 1 and bug.priority_id < 2 %}
                <div class="tile is-child notification is-danger bug__number">
            {% elseif  bug.status_id == 1 %}
                <div class="tile is-child notification is-warning bug__number">
            {% else %}
                <div class="tile is-child notification is-success bug__number ">
            {% endif %}
        {% if bug.id < 10 %}
            <div class="title is-1">
            {% elseif  bug.id < 100 %}
            <div class="title is-2">
        {% else %}
            <div class="title is-3">
        {% endif %}
            #{{ bug.id }}</div>
            </div>
            </div>
            <div class="tile is-parent is-9">
                <div class="tile is-child  notification is-primary">
                    <h2 class="title is-2">{{ bug.name }}</h2>
                </div>
            </div>
            </div>
            <div class="notification notification--bug">
                {% include 'bug/_single_bug.html.twig' with {
                'bug': bug,
                'action': 'view',
                'types': types,
                'statuses': statuses,
                'priorities': priorities,
                'project': project
                } %}
            </div>
            <div class="form-buttons form-buttons--back is-centered">
                {% include 'default/_button_back.html.twig' %}
            </div>
            </div>
        {% else %}
            {{ 'bug_not_found'|trans }}
        {% endif %}
        </div>
    {% else %}
        {% include 'auth/login_required.html.twig' %}
    {% endif %}
{% endblock %}