{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.project_bugs'|trans({'%name%': project.name}) }}
{% endblock %}

{% block body %}
    <h1 class="title is-1 list-name">
        {{ 'title.project_bugs'|trans({'%name%': project.name}) }}
    </h1>
    {% include 'bug/table.html.twig' %}
{% endblock %}