// Helpers

// Clearfix
%clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

// List reset
%listreset {
  list-style: none;
  margin: 0;
  padding: 0;
}

%push-auto {
  margin: {
    left: auto;
    right: auto;
  }
}
