// Global Config

$priority-1: #00e6c6;
$priority-2: rgba(0, 215, 183, 0.53);
$priority-3: rgba(0, 197, 165, 0.43);
$priority-4: rgba(0, 215, 183, 0.29);


// Paths
$path-img: '../img';
$path-patterns: '../img/patterns';
$path-fonts: '../fonts';

// Font Stacks
$font-url-google: '';
$font-family-primary: "",
sans-serif;
$font-family-secondary: '',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;

// Font Weights
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;
$font-weight-ultra-bold: 900;

// Descriptive Base Colors
$white: #fff;
$black: #06032f;
$gray: #f5f5f5;
$light: #f2f2f2;

// Color Usage
$color-primary: $black;
$color-secondary: $black;
$color-accent: $black;
$color-shadow: rgba($black, .3);

// Text
$base-font-size: 16px;
$base-line: 1.4;

$orange: #ff8c3c;