// Buttons
@import '../helpers/index';

.button__add, .button__edit, .button__delete, .button__back, .button--login {
  margin: 40px auto;
  display: block;
  max-width: 150px;
}

.button--modal {
  margin: 20px 10px;
}

.button.is-primary {
  background: $turquoise;
  &:hover {
    background: #00c6b8;
  }
}


.form-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.form-button {
  padding-left: 25px;
  padding-right: 25px;
  &:first-child {
    margin-right: 25px;
  }
}