// Buttons
@import '../helpers/index';

.button__add, .button__edit, .button__delete, .button__back, .button--login {
  margin: 40px auto;
  display: block;
  max-width: 150px;
}

.button--modal {
  margin: 20px 10px;
}

.button.is-primary {
  background: $turquoise;
  &:hover {
    background: #00c6b8;
  }
}

.form-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.form-button {
  padding-left: 25px;
  padding-right: 25px;
  &:first-child {
    margin-right: 25px;
  }
}

.action-buttons {
  position: absolute;
  right: 0;
  top: 15px;
  z-index: z('action-buttons');
}

.action-button {
  font-size: 18px;
}

.notification a.action-button {
  color: $yellow;
  background: transparent;
  padding: 11px;
  text-decoration: none;
  &:hover {
    background: $yellow;
    color: $white;
  }
}

.notification a.action-button.action-button--edit {
  position: absolute;
  right: 35px;
  top: 0;
}

.notification a.action-button.action-button--delete {
  color: $red;
  padding: 12px;
  &:hover {
    color: $white;
    background: $red;
  }
}