// Buttons
@import '../helpers/index';

.button__add, .button__edit, .button__delete, .button__back, .button--login {
  margin: 40px auto;
  display: block;
  max-width: 150px;
}

.button--modal {
  margin: 20px 10px;
}

.button.is-primary {
  background: $turquoise;
  &:hover {
    background: #00c6b8;
  }
}

.form-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.form-buttons--back {
  margin: 5% auto;
}

.form-buttons--edit {
  margin: 60px auto;
  .form-button:first-of-type {
    margin-right: 30px;
  }
}

.form-buttons--delete-project {
  margin: 10% auto;
}

.form-button {
  padding-left: 25px;
  padding-right: 25px;
  &:first-child {
    margin-right: 25px;
  }
}

.action-buttons {
  position: absolute;
  right: 0;
  top: 15px;
  z-index: z('action-buttons');
  &--profile {
    top:20px;
    right: 20px;
  }
}

.action-button {
  font-size: 18px;
}


.notification a.action-button {
  color: $yellow;
  background: transparent;
  padding: 11px;
  text-decoration: none;
  &:hover {
    background: $yellow;
    color: $white;
  }
}

.notification a.action-button.action-button--edit {
  position: absolute;
  right: 35px;
  top: 0;
}

.notification a.action-button.action-button--delete {
  color: $red;
  padding: 12px;
  &:hover {
    color: $white;
    background: $red;
  }
}

.notification a.action-button.action-button--password {
  position: absolute;
  right: 0;
  top: 70px;
  color: darken($yellow, 10%);
  padding: 10px;
  &:hover {
    color: $white;
    background: darken($yellow, 10%);
  }
}

.notification a.action-button.action-button--role {
  position: absolute;
  right: 0;
  top: 35px;
  color: $orange;
  padding: 12px;
  &:hover {
    color: $white;
    background: $orange;
  }
}

.button.is-light.is-outlined {
  color: $grey-lighter;
}

.button.is-light.is-active, .button.is-light:active {
  box-shadow: none;
}