// Icons
@import '../helpers/index';

.action-icon {
  display: inline-block;
  width: 32px;
  padding: 6px 7px;
  border-radius: 100%;
  font-size: 20px;
}

.fa-bug {
  padding-left: 6px;
}

.action-icon--more:hover {
  background-color: hsla(215, 100%, 60%, 0.75);
  color: $gray;

}

.action-icon--edit:hover {
  background-color: hsla(271, 100%, 71%, 0.84);
  color: $gray;
}

.action-icon--delete:hover {
  background-color: hsla(348, 100%, 61%, 0.78);
  color: $gray;
}

.icon-back {
  padding-right: 4px;
  padding-top: 2px;
}

.get-it-done {
  color: $priority-1;
}

.is-done, .get-it-done {
  color: $priority-2;
}

.change-status {
  padding-right: 8px;
}

.dot--single {
  margin-right: 10px;
  margin-left: 0;
}

.status-dot.is-warning,
.status-dot.is-danger,
.status-dot.is-success {
  padding: 0 14px;
  color: transparent;
}

.dot {
  width: 32px;
  height: 32px;
  float: left;
  margin: 0 14px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.type-dot {
  background: $white;
  color: $grey-light;
  font-size: 18px;


}
