// Icons
@import '../helpers/index';

.action-icon {
  display: inline-block;
  width: 32px;
  padding: 6px 7px;
  border-radius: 100%;
  font-size: 20px;
}

.fa-bug:not(.bug-panel) {
  padding-left: 6px;
}

.action-icon--more:hover {
  background-color: $priority-1;
  color: $gray;
}

.action-icon--edit:hover {
  background-color: $priority-2;
  color: $gray;
}

.action-icon--delete:hover {
  background-color: $priority-3;
  color: $gray;
}

.icon-back {
  padding-right: 10px;
  padding-top: 2px;
}

.get-it-done {
  color: $priority-1;
}

.is-done, .get-it-done {
  color: $priority-2;
}

.change-status {
  padding-right: 8px;
}

.dot--single {
  margin-right: 10px;
  margin-left: 0;
}

.status-dot.is-warning,
.status-dot.is-danger,
.status-dot.is-success {
  padding: 0 14px;
  color: transparent;
}

.dot {
  width: 32px;
  height: 32px;
  float: left;
  margin: 0 14px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.type-dot {
  background: $white;
  color: $grey-light;
  font-size: 18px;
}

.user-icon {
  margin-right: 5px;
  color: $grey-light;
}

.project-login {
  a {
    color: $grey-light;
    &:hover,
    &:hover > span {
      color: $grey;
    }
  }
}