// Navigation
@import '../helpers/index';

.pagination {
  margin-bottom: 50px;
}

.nav-item__name {
  font-weight: bold;
}

.is-chosen {
  font-weight: bold;
}
.nav-item a.is-tab.is-active, a.nav-item.is-tab.is-active {
  border-bottom-color: $turquoise;
  color: $turquoise;
}

.nav-item a.is-tab:hover,
a.nav-item.is-tab:hover {
  border-bottom-color: $turquoise;
  border-top-color: transparent;
}