{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.profile_view'|trans({'%name%' : user.login}) }}
{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="column is-8 is-offset-2 single-bug">
            {% include 'user/_profile.html.twig' with {
            user: user,
            action: 'view'
            } %}
        </div>
    {% else %}
        {% include 'auth/login_required.html.twig' %}
    {% endif %}
{% endblock %}