// Containers
@import '../helpers/index';

.notification:not(:last-child) {
  margin-bottom: 0;
}

.notification.is-primary {
  background: $turquoise;
}

.single-line {
  margin-top: 12px;
}

.form-question {
  margin-top: 25px;
}

.notification--bug {
  padding: 8%;
  margin-bottom: 10%;
}

.single-bug__desc {
  padding-bottom: 28px;
  border-bottom: 4px solid $turquoise;
  margin-bottom: 30px;
  color: $grey-darker;
}