// Footer
@import '../helpers/index';

footer {
  font-size: 14px;
  & svg:hover {
    fill: $purple;
    height: 140px;
  }
}

.footer {
  padding-bottom: 40px;
  &__link:hover {
    color: $purple;
  }
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -140px;
}

.page-wrap:after {
  content: "";
  height: 140px;
  display: block;
}