// Forms
@import '../helpers/index';

label {
  padding-top: 20px;
}

.errors-list {
  margin-bottom:10px;
}

.error {
  background-color: $red;
  color: $white;
  padding: 5px 12px;
  border-radius: 4px;
}


.change-status {
  border: 0;
  background: transparent;
  padding-left: 0;
  padding-top: 0;
 font-size: 18px;
  cursor: pointer;
  &:hover {
    color: $black;
  }
  &:focus {
    outline: 0;
  }
}

.description-column {
  max-width: 400px;
}