// Forms
@import '../helpers/index';

label {
  padding-top: 20px;
}

.errors-list {
  margin-bottom:10px;
}

.error {
  background-color: $red;
  color: $white;
  padding: 5px 12px;
  border-radius: 4px;
}


.change-status {
  border: 0;
  background: transparent;
  padding-left: 0;
  padding-top: 0;
 font-size: 18px;
  cursor: pointer;
  &:hover {
    color: $black;
  }
  &:focus {
    outline: 0;
  }
}

.description-column {
  max-width: 350px;
}

.single-bug-name {
  font-weight: bold;
  padding-bottom: 10px;
}

.is-1-2 {
  width: 50%;
  box-sizing: border-box;
  display: inline-block;
  padding-right: 15px;
  padding-bottom: 5px;
}

.select-type {
  padding-left: 15px;
  padding-right:0;
}

.is-2-3 {
  padding-right: 15px;
  width: 63%;
}

.is-1-3 {
  width: 37%;
  padding-left: 15px;
  padding-right:0;
}

.is-1-2, .is-2-3, .is-1-3 {
  display: inline-block;
  .select {
    min-width: 100%;
  }
  .select select {
    min-width: 100%;
  }
}