// Table
@import '../helpers/index';

table, .single-bug {
  margin-top: 50px;
}

.single-bug__table {
  margin-top: 0;

  td {
    font-size: $size-6;
    border: none;
  }
}

.priority-dot {
 margin-left: 10px;
}

th {
  position: relative;

}

.sort:hover:after {
  color: $black;
}

.sort:after {
  content: "\f0dc";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: $grey-lighter;
  font-size: 16px;
  position: absolute;
  top: 7px;
  right: 20px;
}

.icon-small-space .sort:after {
  right: 4px;
}

.sort--active:after {
  color: $turquoise;
}

.sort-asc:after {
  content: "\f0de";
}

.sort-desc:after {
  content: "\f0dd";
}

.progress {
  cursor: pointer;
}