//Base styles
@import '../helpers/_index';

* {
  box-sizing: border-box;
}

body {
  background-color: $white;
  color: $black;
  font-family: $font-family-secondary;
  font-size: 16px;
}

a {
  color: $grey-dark;
  outline: 0;
  text-decoration: none;
}

p {
  font-size: 1.25em;
  margin-top: 0;
}

img {
  max-width: 100%;
}
