// Typography
@import '../helpers/_index';
@import "../vendor/bulma";

h1 {
  margin: 4% auto;
  text-align: center;
  font-family: 'Hammersmith One', sans-serif;
  text-shadow: -.08em .08em $gray;
}

.list-name, .form-name {
  color: $turquoise;
}

.list-name:hover {
  color: $priority-1;
}

::selection {
  background: $turquoise;
  color: $white;
}

::-moz-selection {
  background: $turquoise;
  color: $white;
}

.bug__number {
  display: flex;
  align-items: center;
  justify-content: center;
}

.has-text-ultra-light {
  color: #abb3b7;
}

.has-text-grey {
  color: #80878b;
}