// Typography
@import '../helpers/_index';
@import "../vendor/bulma";

h1 {
  margin: 4% auto;
  text-align: center;
  font-family: 'Hammersmith One', sans-serif;
  text-shadow: -.08em .08em $gray;
}

.list-name, .form-name {
  color: $turquoise;
}

::selection {
  background: $turquoise;
  color: $white;
}

::-moz-selection {
  background: $turquoise;
  color: $white;
}

.bug__number {

  text-align: right;
  padding-left: 10px;
}

.single-bug__category {
  padding-right: 15px;
  padding-top:1px;
}

.has-text-ultra-light {
  color: #abb3b7;
}