<a href="{{ global.request.headers.get('referer') }}" title="{{ 'label.back_to_list'|trans }}"
   class="button is-primary form-button">
    <span class="fa fa-hand-o-left icon-back" aria-hidden="true"></span>
    {{ 'label.back_to_list'|trans }}
</a>