{#
    Single alert message.

    parameters:
        * `type`: message type (success|info|warning|danger)
        * `message`: message
#}
{% if is_single_message|default(true) %}
{% endif %}
<div class="notification is-{{ type }}" role="alert">
    <button type="button" class="delete" data-dismiss="alert" aria-label="Close">
    </button>
    {% if message|trans is not same as(message) %}
        {{ message|trans }}
    {% else %}
        {{ message }}
    {% endif %}
</div>
{% if is_single_message|default(true) %}
{% endif %}