// State
@import '../helpers/index';
@import "../vendor/bulma";

.is-a-tag {
  padding: 0 12px ;
}

.is-important {
  background-color: #ff5514;
  color: $white;
}

.is-urgent {
  background-color: #ffa717;
  color: $white;
}

.is-priority{
  background-color: #ff3f4d;
  color: $white;
}

.is-wasting-space {
  background-color: #ffd940;
  color: $white;
}