<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Default title{% endblock %}</title>

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet">
        <!--build:css css/app.min.css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css" rel="stylesheet">
        <link href="{{ asset('css/application.css') }}" rel="stylesheet">
        <!--endbuild-->
    {% endblock %}

</head>
<body>
<nav class="nav has-shadow">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item">
                <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">
            </a>
            <a class="nav-item is-tab is-hidden-mobile is-active">Home</a>
            <a class="nav-item is-tab is-hidden-mobile">Features</a>
            <a class="nav-item is-tab is-hidden-mobile">Pricing</a>
            <a class="nav-item is-tab is-hidden-mobile">About</a>
        </div>
        <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
        <div class="nav-right nav-menu">
            <a class="nav-item is-tab is-hidden-tablet is-active">Home</a>
            <a class="nav-item is-tab is-hidden-tablet">Features</a>
            <a class="nav-item is-tab is-hidden-tablet">Pricing</a>
            <a class="nav-item is-tab is-hidden-tablet">About</a>
            <a class="nav-item is-tab">
                <figure class="image is-16x16" style="margin-right: 8px;">
                    <img src="http://bulma.io/images/jgthms.png">
                </figure>
                Profile
            </a>
            <a class="nav-item is-tab">Log out</a>
        </div>
    </div>
</nav>
<div class="notification-container">
    {% include 'default/_flash_messages.html.twig' %}
</div>
<div class="container">
    <div class="columns">
        <div class="column is-offset-1 is-10 is-centered">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
{% block javascripts %}
    <!--build:js js/main.min.js -->
    <script src="{{ asset('js/main.js') }}"></script>
    <!-- endbuild -->
{% endblock %}
</body>
</html>